@import "tailwindcss";





@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-Slate600: #022B3A;
  --color-Slate500: #1F7A8C;
  --color-Slate400: #BFDBF7;
  --color-Slate300: #c5d1e4;
  --color-Slate200: #cdd9e6;
  --color-Slate100: #E1E5F2;


  --breakpoint-1440: 90rem;
  --breakpoint-768: 47.5rem;

}


@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: white;
    /* @media(min-width: 768px) {
        background-image: url('./assets/images/pattern-background-tablet-light.svg');
    }
    @media(min-width: 1440px) {
        background-image: url('./assets/images/pattern-background-desktop-light.svg');
    } */
  }
  /* html.dark, html.dark body {
    background-color: var(--color-Slate1000);
  } */

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100vh;
  }

  body {
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Averia Sans Libre', sans-serif; 
  }


  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  svg {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
  }


  span,
  h1, h2, h3, h4, h5, h6,
  p {
    display: inline-block;
  }

  ol, ul {
    padding-left: 1.5rem;
    margin-left: 0;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  ul li::marker {
    font-size: 0.7rem;
  }

  a {

    color: inherit;
    cursor: pointer;
  }

  input {
    font-size: inherit;
    border: none;
    font-family: inherit;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  textarea {
    font-size: inherit;
    border: none;
    font-family: inherit;
    line-height: 1.5;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  textarea:focus {
    outline: none;
  }

  fieldset {
    border: none;
  }

  /* progress {
    width: 100%;
    height: 1rem;
    border-radius: 40px;
    background: white;
    margin: 0;
  }
  .dark progress {
    background: var(--color-Slate600);
  }
  progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 40px;
    height: 0.6rem;


  }
  progress::-webkit-progress-value {
    position: relative;
    top:-0.02rem;
    background: var(--color-Slate600);
    border-radius: 40px;
    margin: 0.2rem;
    height: 0.6rem;

  }
   .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  .switch:hover .slider.round:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 26px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }


  .switch:hover .slider:before {
    background-color: white;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-Slate600);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 27px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: var(--color-Slate600);
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-21px);
    -ms-transform: translateX(-21px);
    transform: translateX(-21px);
    background-color: white;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;

  }
   */

}


@layer components {

  .HeadingL, .HeadingM, .HeadingS, .Body1, .Body2, .Small, .ExtraSmall {
    font-weight: bold;
  }
  .HeadingL {
   font-size: 1.75rem;
   font-size: clamp(1.75rem, 0.25352112676056326rem + 6.384976525821597vw, 6rem);
  }

  .HeadingM {
   font-size: 1.25rem;
   font-size: clamp(1.25rem, 0.2816901408450705rem + 4.131455399061033vw, 4rem);
  }

  .HeadingS {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.06870229007633588rem + 6.106870229007634vw, 3rem);
  }

  .Body1 {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.30985915492957744rem + 1.8779342723004695vw, 2rem);
  }

  .Body2 {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.5114503816793893rem + 1.0178117048346056vw, 1rem);
  }

  .Small {
   font-size: 0.5rem;
   font-size: clamp(0.5rem, 0.2359154929577465rem + 1.1267605633802815vw, 1.25rem);
  }

  .ExtraSmall {
    font-size: 0.3125rem;
    font-size: clamp(0.3125rem, 0.07042253521126762rem + 1.0328638497652582vw, 1rem);
  }

}