@import "tailwindcss";

@theme {
  --color-Black: #333333;
  --color-Yellow: #CFAE74;
  --color-maroon: #1C0701;

  --breakpoint-1440: 90rem;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: white;
    /* @media(min-width: 768px) {
        background-image: url('./assets/images/pattern-background-tablet-light.svg');
    }
    @media(min-width: 1440px) {
        background-image: url('./assets/images/pattern-background-desktop-light.svg');
    } */
  }
  /* html.dark, html.dark body {
    background-color: var(--color-Slate1000);
  } */

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100vh;
  }

  body {
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    font-family: 'lora', sans-serif; 
    color: white;
  }


  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  svg {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
  }


  span,
  h1, h2, h3, h4, h5, h6,
  p {
    display: inline-block;
  }

  li {
    list-style-type: none;
  }

  a {

    color: inherit;
    cursor: pointer;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }

  .scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  width: aito;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px;
}




.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.animated-underline:hover::after {
  width: 100%;
}


  input {
    font-size: inherit;
    border: none;
    font-family: inherit;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  textarea {
    font-size: inherit;
    border: none;
    font-family: inherit;
    line-height: 1.5;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  textarea:focus {
    outline: none;
  }

  fieldset {
    border: none;
  }

}

@layer components {
  .HeadingL {
    @apply text-[clamp(2rem,1.045801526717557rem+4.071246819338422vw,3rem)] md:text-[clamp(3rem,1.8571428571428572rem+2.380952380952381vw,4rem)] leading-[1.5]
  }
  .HeadingM {
   @apply text-[clamp(1.5rem,1.0229007633587786rem+2.035623409669211vw,2rem)] md:text-[clamp(2rem,1.110236220472441rem+2.099737532808399vw,3rem)] leading-[1.5] 
  }
  .HeadingS {
   @apply text-[clamp(1rem,0.6905940594059405rem+1.3201320132013201vw,1.25rem)] md:text-[clamp(1.25rem,1.0275590551181102rem+0.5249343832020997vw,1.5rem)] leading-[1.5]
  }
  .HeadingXS {
   @apply text-[clamp(1rem,0.6905940594059405rem+1.3201320132013201vw,1.25rem)] leading-[1.5]
  }
  .Body {
    @apply text-[clamp(0.75rem,0.4405940594059406rem+1.3201320132013201vw,1rem)] leading-[2]
  }
  .BodySmall {
    @apply text-[clamp(0.625rem,0.47029702970297027rem+0.6600660066006601vw,0.75rem)] leading-[1.5]
  }
}
