@import "tailwindcss";





@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-Slate400: hsl(0, 0%, 49%);
  --color-Slate300: hsl(0, 0%, 85%);
  --color-Slate200: hsl(0, 0%, 90%);
  --color-Slate100: hsl(0, 0%, 95%);

  --breakpoint-1597: 99.8125rem;
  --breakpoint-1440: 90rem;
  --breakpoint-1024: 64rem;
  --breakpoint-768: 47.5rem;

}


@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: white;
    /* @media(min-width: 768px) {
        background-image: url('./assets/images/pattern-background-tablet-light.svg');
    }
    @media(min-width: 1440px) {
        background-image: url('./assets/images/pattern-background-desktop-light.svg');
    } */
  }
  /* html.dark, html.dark body {
    background-color: var(--color-Slate1000);
  } */

  html {
    scroll-behavior: smooth;
    font-size: 16px;
    height: 100vh;
  }

  body {
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Libre Baskerville', sans-serif; 
  }


  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  svg {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
  }


  span,
  h1, h2, h3, h4, h5, h6,
  p {
    display: inline-block;
  }

  ol, ul {
    margin-left: 0;
  }
  ol {
    list-style-type: decimal;
  }

  ul li::marker {
    font-size: 0.7rem;
  }

  a {

    color: inherit;
    cursor: pointer;
  }

  input {
    font-size: inherit;
    border: none;
    font-family: inherit;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  textarea {
    font-size: inherit;
    border: none;
    font-family: inherit;
    line-height: 1.5;
    background-color: inherit;

    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }

  textarea:focus {
    outline: none;
  }

  fieldset {
    border: none;
  }

  @media (min-width: 768px) {

      .artwork:first-child {
        grid-row: 1 / 7;
      }
      .artwork:nth-child(2) {
        grid-row: 1 / 11;
      }
      .artwork:nth-child(3) {
        grid-row: 7 / 14;
      }
      .artwork:nth-child(4) {
        grid-row: 11 / 17;
      }
      .artwork:nth-child(5) {
        grid-row: 14 / 22;
      }
      .artwork:nth-child(6) {
        grid-row: 17 / 24;
      }
      .artwork:nth-child(7) {
        grid-row: 22 / 33;
      }
      .artwork:nth-child(8) {
        grid-row: 24 / 30;
      }
      .artwork:nth-child(9) {
        grid-row: 33 / 44;
      }
      .artwork:nth-child(10) {
        grid-row: 30 / 36;
      }
      .artwork:nth-child(11) {
        grid-row: 36 / 46;
      }
      .artwork:nth-child(12) {
        grid-row: 44 / 50;
      }
      .artwork:nth-child(13) {
        grid-row: 46 / 54;
      }
      .artwork:nth-child(14) {
        grid-row: 50 / 62;
      }
      .artwork:nth-child(15) {
        grid-row: 54 / 62;
      }
  }

@media (min-width: 1440px) {
  /* Column 1 */

  .artwork:nth-child(3) {
    grid-column: 3;
    grid-row: 1 / 8; 

  }

  .artwork:nth-child(4) {
    grid-row: 1 / 7; 
    grid-column: 4;

  }

  .artwork:nth-child(5) {
    grid-row: 7 / 15; 
    grid-column: unset;

  }
  .artwork:nth-child(6) {
    grid-column: 2;
    grid-row: 11 / 18; 

  }

  .artwork:nth-child(7) {
    grid-row: 8 / 20; 
    grid-column: 3;
  }

  .artwork:nth-child(8) {
    grid-column: 4;
    grid-row: 7 / 13;
  }

  .artwork:nth-child(9) {
    grid-row: 15 / 26;
    grid-column: 1
  }

  .artwork:nth-child(10) {
    grid-column: 2;
    grid-row: 18 / 24; 
  }

  .artwork:nth-child(11) {
    grid-column: 4;
    grid-row: 13 / 23;
  }

  .artwork:nth-child(12) {
    grid-row: 26 / 32;
    grid-column: 1;
  }

  .artwork:nth-child(13) {
    grid-column: 2;
    grid-row: 24 / 32;
  }

  .artwork:nth-child(14) {
    grid-column: 3;
    grid-row: 20 / 32; 
  }

  .artwork:nth-child(15) {
    grid-column: 4;
    grid-row: 23 / 32
  }
}

  /* progress {
    width: 100%;
    height: 1rem;
    border-radius: 40px;
    background: white;
    margin: 0;
  }
  .dark progress {
    background: var(--color-Slate600);
  }
  progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 40px;
    height: 0.6rem;


  }
  progress::-webkit-progress-value {
    position: relative;
    top:-0.02rem;
    background: var(--color-Slate600);
    border-radius: 40px;
    margin: 0.2rem;
    height: 0.6rem;

  }
   .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  .switch:hover .slider.round:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 26px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }


  .switch:hover .slider:before {
    background-color: white;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-Slate600);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 27px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: var(--color-Slate600);
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-21px);
    -ms-transform: translateX(-21px);
    transform: translateX(-21px);
    background-color: white;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;

  }
   */

}


@layer components {

  .TextPreset1 {
    @apply text-[100px] md:text-[200px] leading-[100%] md:leading-[115%] md:tracking-[-0.2px] font-bold
  }
  .TextPreset2 {
    @apply text-[24px] md:text-[56px] leading-[125%] md:leading-[115%] font-bold
  }
  .TextPreset2Mobile {
    @apply text-[24px] leading-[125%] font-bold
  }
  .TextPreset3 {
    @apply text-[14px] md:text-[18px]  leading-[200%] md:leading-[125%] tracking-[-0.25px] md:tracking-[0px] font-bold 
  }
  .TextPreset3Mobile {
    @apply text-[14px]  leading-[200%] tracking-[-0.25px] font-bold 
  }
  .TextPreset4 {
    @apply text-[10px] leading-[120%] md:text-[15px] md:leading-[135%] font-normal
  }
  .TextPreset5 {
    @apply text-[9px] md:text-[13px] leading-[125%] tracking-[2px] md:tracking-[0] font-normal
  }

  .TextPreset6 {
    @apply text-[12px] leading-[125%] tracking-[2.5px] font-bold
  }
  .TextPreset7 {
    @apply text-[10px] leading-[120%] tracking-[2px] font-bold
  }

}